---
import HTML from "../../layouts/HTML/HTML.astro";
import { Image } from "astro:assets";
import MarkPicture from "../../assets/Mark.jpg";
import About from "../../assets/About-image.jpg";
import CBS from "../../assets/news-channel-logos/CBS_News_logo.png";
import Hearttelevision from "../../assets/news-channel-logos/Hearst.jpg";
import CNN from "../../assets/news-channel-logos/CNN.png";
import WUSA9 from "../../assets/news-channel-logos/WUSA9.png";
import KSTP from "../../assets/news-channel-logos/KSTP.webp";
import WSOC from "../../assets/news-channel-logos/WSOC.png";
import KARE from "../../assets/news-channel-logos/Kare.png";
import CBSsunday from "../../assets/news-channel-logos/CBS_SUNDAY.jpg";
import XYZ from "../../assets/news-channel-logos/WXYZ-TV_logo.svg.png";
import KFI from "../../assets/news-channel-logos/KFI.webp";
import KYW from "../../assets/news-channel-logos/KYW.png";
import MEDI from "../../assets/news-channel-logos/Medi.jpg";
import HoldingHands from "../../assets/holdingHands.jpg";
import BackGroundImage from "@components/BackGroundImage.astro";
---

<HTML>
  <BackGroundImage imageSource={About} text="ABOUT US" />
  <section
    class="lg:container mx-auto lg:py-[150px] sm:px-[50px] md:py-[100px]"
  >
    <div
      class="flex lg:flex-row items-center md:flex-col sm:flex-col md:space-y-10 justify-between"
    >
      <div
        class="max-w-[50rem] lg:px-[80px] space-y-5 lg:text-left sm:text-left"
      >
        <h2
          class="lg:text-3xl md:text-3xl sm:text-2xl sm:pt-10 md:pt-0 font-semibold font-[Poppins] lg:text-center"
        >
          Media Advisory Experts
        </h2>
        <p class="font-[Roboto] text-lg font-semibold">
          <span class="font-[Poppins]"> Media Advisory Experts</span> harnesses
          decades of journalism and communications experience to deliver
          insightful and actionable advice and analysis of the media landscape
          and how to get tailored results for its clients. Video production
          services are available for corporate messagin g; judicial videos,
          including for early litigation, case settlement, trials, and day - in
          - the - life segments; for training purposes, and more. In addition,
          we offer media trainings for executives, thought leaders and anyone
          who wants to prepare themselves f or on - camera availabilities, as
          well as curriculum and training for journalists.
        </p>
      </div>
      <div class="my-[100px] w-full overflow-hidden">
        <iframe
          class="embed-responsive-item container mx-auto bottom-0 left-0 right-0 top-0 lg:h-[40vh] lg:w-[100%] md:h-[40vh] md:w-[70%] sm:h-[30vh] sm:w-full"
          src="https://youtube.com/embed/1mSYWFhriuI?si=VBJYNiUHpv6mU1tf"
          allowfullscreen=""
          data-gtm-yt-inspected-2340190_699="true"
          id="240632615"
        >
        </iframe>
      </div>
    </div>
  </section>
  <!-- <section class="flex flex-col"></section> -->
  <section class="lg:container mx-auto lg:px-20 sm:px-[50px] pb-[50px]">
    <div class="space-y-2">
      <div
        class="flex lg:flex-row lg:justify-between lg:items-center md:items-center md:space-y-20 md:flex-col sm:flex-col"
      >
        <div class="sm:flex sm:items-center sm:justify-center max-w-[25rem]">
          <Image
            src={MarkPicture}
            alt="mark pic"
            class="rounded-full lg:w-[80%] lg:h-[85%] md:w-[30%] sm:h-[50%] sm:w-[50%]"
          />
        </div>
        <div class="max-w-[50rem] space-y-5 lg:text-left sm:text-left">
          <h2 class="text-3xl font-semibold font-[Poppins] text-center sm:pt-5">
            MARK ALBERT
          </h2>
          <p
            class="lg:text-xl md:text-2xl sm:text-lg font-semibold font-[Raleway] text-blue text-center"
          >
            <a href="mailto:mark@mediaadvisoryexperts.com"
              >mark@mediaadvisoryexperts.com</a
            >
          </p>
          <p class="font-[Roboto] text-lg font-semibold">
            Firm founder Mark Albert is a Peabody-winning journalist whose
            quarter-century career has been distinguished by investigative
            reporting, innovative storytelling techniques, and creative
            communications. He's traveled the world for CBS News; created and
            led a national investigative unit for Hearst Communications; taught
            journalists in newsrooms in the U.S., Vietnam, and Pakistan;
            launched an online news startup and created a media database to
            drive dozens of earned media appearances; and has been to 83
            countries so far. In addition to the Peabody Award for an
            investigation that changed the way remains of U.S. service members
            are tracked around the world, Mark has been awarded the 'Wade H.
            McCree Excellence in Legal Journalism and the Advancement of Justice
            Award' by the State Bar of Michigan for his coverage of the
            judiciary, law enforcement, and criminal justice issues. Among other
            honors, he's the first journalist ever awarded the ’Superior
            Civilian Service Award’ by the Minnesota National Guard for his body
            of military reporting and embedded coverage, including from Iraq.
          </p>
        </div>
      </div>

      <h2
        class="text-3xl font-semibold font-[Poppins] text-center lg:pt-24 lg:pb-8 sm:py-10"
      >
        AS SEEN ON
      </h2>
      <div class="flex gap-10 py-0">
        <div
          class="flex lg:flex-row md:flex-col sm:flex-col lg:gap-10 md:gap-8 lg:justify-evenly md:pb-20 md:justify-center md:items-center sm:items-center sm:gap-10 sm:pb-16"
        >
          <!-- <div > -->
          <Image
            src={CBS}
            alt="about pic"
            class="lg:w-[10%] lg:h-[40%] md:w-[40%] md:h-[10%] sm:w-[30%] sm:h-[10%] object-contain"
          />
          <!-- </div> -->

          <!-- <div class=""> -->
          <Image
            src={CNN}
            alt="about pic"
            class="lg:w-[10%] lg:h-[40%] md:w-[40%] md:h-[10%] sm:w-[30%] sm:h-[10%] object-contain"
          />
          <!-- </div> -->

          <!-- <div class=""> -->
          <Image
            src={Hearttelevision}
            alt="about pic"
            class="lg:w-[10%] lg:h-[40%] md:w-[40%] md:h-[10%] sm:w-[30%] sm:h-[10%] object-contain"
          />
          <!-- </div> -->

          <!-- <div class=""> -->
          <Image
            src={KSTP}
            alt="about pic"
            class="lg:w-[10%] lg:h-[40%] md:w-[40%] md:h-[10%] sm:w-[30%] sm:h-[10%] object-contain"
          />
          <!-- </div> -->

          <!-- <div class=""> -->
          <Image
            src={KARE}
            alt="about pic"
            class="lg:w-[10%] lg:h-[40%] md:w-[40%] md:h-[10%] sm:w-[30%] sm:h-[10%] object-contain"
          />
          <!-- </div> -->

          <!-- <div class=""> -->
          <Image
            src={CBSsunday}
            alt="ab"
            class="lg:w-[10%] lg:h-[40%] md:w-[40%] md:h-[10%] sm:w-[30%] sm:h-[10%] object-contain"
          />
          <!-- </div> -->

          <!-- <div class=""> -->
          <Image
            src={XYZ}
            alt="about pic"
            class="lg:w-[10%] lg:h-[40%] md:w-[40%] md:h-[10%] sm:w-[30%] sm:h-[10%] object-contain"
          />
          <!-- </div> -->

          <!-- <div class=""> -->
          <Image
            src={KFI}
            alt="about pic"
            class="lg:w-[10%] lg:h-[40%] md:w-[40%] md:h-[10%] sm:w-[30%] sm:h-[10%] object-contain"
          />
          <!-- </div> -->

          <!-- <div class=""> -->

          <Image
            src={KYW}
            alt="about pic"
            class="lg:w-[10%] lg:h-[40%] md:w-[40%] md:h-[10%] sm:w-[30%] sm:h-[10%] object-contain"
          />
          <!-- </div> -->

          <!-- <div class=""> -->

          <Image
            src={MEDI}
            alt="about pic"
            class="lg:w-[10%] lg:h-[40%] md:w-[40%] md:h-[10%] sm:w-[30%] sm:h-[10%] object-contain"
          />
          <!-- </div> -->
        </div>
      </div>
      <div
        class="flex lg:flex-row lg:justify-between md:flex-col-reverse sm:flex-col-reverse items-center lg:space-x-10 md:space-x-0 sm:space-x-0 lg:py-[50px] md:py-0"
      >
        <div
          class="max-w-[40rem] lg:py-20 md:py-10 lg:text-center sm:text-left"
        >
          <p class="font-[Roboto] text-xl font-semibold">
            Mark is supported by a team of current and former journalists and
            media professionals with advance expertise in on-demand videography,
            editing, research, logistics and digital marketing.
          </p>
          <p
            class="lg:text-xl md:text-xl py-5 sm:text-lg font-semibold font-[Raleway] text-blue"
          >
            <a href="mailto:contact@mediaadvisoryexperts.com"
              >contact@mediaadvisoryexperts.com</a
            >
          </p>
        </div>
        <div class="max-w-[60rem] flex justify-end pb-10">
          <Image src={HoldingHands} alt="mark pic" class="h-full w-full" />
        </div>
      </div>
    </div>
  </section>
</HTML>
