---
import HTML from "../../layouts/HTML/HTML.astro";
import { Image } from "astro:assets";
import MediaTraningBanner from "../../assets/MediaTraningBanner.jpeg";
import MarkinDetroit from "../../assets/MarkinDetroit.jpg";
import MarkinAirforce from "../../assets/MarkinAirForce.jpg";
import MarkinSheriff from "../../assets/MarkInterviewSheriff.jpeg";
import MarkTeaching1 from "../../assets/MarkAlbertTeaching1.jpg";
import MarkTeaching2 from "../../assets/MarkAlbertTeaching2.jpg";
import MarkTeaching3 from "../../assets/MarkAlbertTeaching3.jpg";
import Logo1 from "../../assets/IRElogo.png";
import Logo2 from "../../assets/ICFJlogo.jpg";
import Logo3 from "../../assets/VTVlogo.png";
import University from "../../assets/University.jpg";
import BackGroundImage from "../../components/BackGroundImage.astro";
import ImageSlider from "@components/ImageSlider.astro";
// import MarkTeaching4 from "../../assets/MarkAlbertTeaching4.jpg";
---

<Fragment>
  <HTML>
    <BackGroundImage imageSource={MediaTraningBanner} text="MEDIA TRAINING" />
    <h2
      class="lg:text-3xl md:text-2xl sm:text-2xl font-[Poppins] sm:text-center lg:py-16 font-black sm:py-16"
    >
      FOR LEADERS
    </h2>

    <section class="">
      <div
        class="container mx-auto flex lg:flex-row md:flex-col sm:flex-col-reverse sm:items-center lg:justify-between"
      >
        <ImageSlider
          image1={MarkinDetroit}
          image2={MarkinAirforce}
          image3={MarkinSheriff}
          image4={MarkinDetroit}
          image5={MarkinAirforce}
          image6={MarkinSheriff}
        />
        <div
          class="text-2xl lg:max-w-[40%] md:max-w-[80%] sm:max-w-[100%] lg:text-left md:text-center sm:text-left space-y-5"
        >
          <p>
            The ever-broadening array of media platforms and news outlets means
            today’s leaders need to be ready to convey authenticity,
            transparency, competency and empathy in their news interviews and
            television availabilities with traditional, adversarial, new or
            earned media.
          </p>
          <p>
            <span class="font-[Poppins] font-bold">
              Media Advisory Experts</span
            > , using decades of local and national media experience, can train
            you and your team on:
          </p>
          <ul class="list-disc">
            <li>
              Proven interview techniques and how to establish a rapport with
              your interviewer
            </li>
            <li>
              How to speak with clarity and purpose while paying attention to
              annunciation and cadence — on-camera or off
            </li>
            <li>Most effective ways to master a news conference</li>
            <li>
              How you or your communications team can create your own earned
              media without surrendering your narrative or issuing dead-end news
              releases that get zero traction
              <li>
                Methods for declining a perceived hostile media interview while
                still ensuring your message is conveyed to the audience
              </li>
              <li>Deep dives into news production to control your own image</li>
            </li>
            <p>When a journalist calls, be ready to master your own story.</p>
            <p class="pt-4 font-semibold">Contact us today :</p>
            <span
              class="lg:text-2xl sm:text-sm font-semibold font-[Poppins] text-blue"
              ><a href="mailto:contact@mediaadvisoryexperts.com"
                >contact@mediaadvisoryexperts.com</a
              >
            </span>

            <i>
              Please indicate level of urgency in your initial message so that
              we may best meet your needs.
            </i>
          </ul>
        </div>
      </div>
    </section>
    <h2
      class="lg:text-3xl md:text-2xl sm:text-2xl font-[Poppins] sm:text-center lg:py-16 font-black sm:py-20"
    >
      FOR JOURNALISTS
    </h2>
    <section class="py-0">
      <div
        class="container mx-auto flex lg:flex-row-reverse items-center md:flex-col sm:flex-col-reverse lg:justify-between"
      >
        <ImageSlider
          image1={MarkTeaching1}
          image2={MarkTeaching2}
          image3={MarkTeaching3}
          image4={MarkTeaching1}
          image5={MarkTeaching2}
          image6={MarkTeaching3}
        />
        <div
          class="text-2xl lg:max-w-[40%] md:max-w-[80%] sm:max-w-[100%] lg:text-left md:text-center sm:text-left lg:py-0 space-y-5"
        >
          <p>
            <span class="font-[Poppins] font-bold">
              Media Advisory Experts</span
            > founder Mark Albert has a quarter-century of experience as an
            investigative journalist and educator. He’s been an adjunct
            instructor at Northwestern University’s Medill School of Journalism
            in Washington, DC, and nearly every year since 2017, has created and
            taught curriculum in newsrooms across Vietnam, including on
            fact-checking, news production, investigative reporting, how to ask
            probing questions in news conferences and hold public officials
            accountable, digital content creation, elements of live-streaming,
            and on Western free speech and defamation principles. In 2016, he
            designed and taught a two-week course on general news production in
            Pakistan as part of an initiative administered by the International
            Center for Journalists (ICFL) and sponsored by the U.S. State
            Department. Mark has also spoken on panels at the preeminent
            investigative journalism conference in the United States, the
            Investigative Reporters & Editors (IRE) event every June, invited to
            speak on topics such as internal/external newsroom collaboration and
            military beat reporting.
          </p>
          <p>
            This type of training can be invaluable to journalists no matter the
            size of the newsroom. Media Advisory Experts can customize the
            curriculum to fit your beat, needs, and newsroom size.
          </p>
          <div class="flex container mx-auto justify-evenly py-10">
            <div class="max-w-[10%]">
              <Image
                src={Logo1}
                alt="image"
                class="w-full h-full object-contain"
              />
            </div>
            <div class="max-w-[10%]">
              <Image
                src={Logo2}
                alt="image"
                class="w-full h-full object-contain"
              />
            </div>
            <div class="max-w-[10%]">
              <Image
                src={Logo3}
                alt="image"
                class="w-full h-full object-contain"
              />
            </div>
            <div class="max-w-[10%]">
              <Image
                src={University}
                alt="image"
                class="w-full h-full object-contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="container mx-auto py-10">
        <p class="text-2xl">
          Contact us to schedule an introductory consultation: <br />
          <span
            class="lg:text-2xl sm:text-sm font-semibold font-[Poppins] text-blue"
            ><a href="mailto:contact@mediaadvisoryexperts.com"
              >contact@mediaadvisoryexperts.com</a
            >
          </span>
        </p>
      </div>
    </section>
  </HTML>
</Fragment>
