---
import { BackGroundImage, Image, HTML } from "@utils/Components";
import {
  MediaTraningBanner,
  MarkinDetroit,
  MarkinAirforce,
  MarkinSheriff,
  MarkTeaching1,
  MarkTeaching2,
  MarkTeaching3,
  Logo1,
  Logo2,
  Logo3,
  University,
  ForLeadersText,
  ForJournalistText,
} from "@utils/images";
---

<Fragment>
  <HTML>
    <BackGroundImage imageSource={MediaTraningBanner} text="MEDIA TRAINING" />
    <h2
      class="lg:text-3xl md:text-2xl sm:text-2xl font-[Poppins] sm:text-center lg:pt-20 lg:pb-10 font-black sm:py-16"
      id="for-leaders"
    >
      FOR LEADERS
    </h2>

    <section class="lg:container lg:mx-auto">
      <div
        class="flex lg:flex-row md:flex-col sm:flex-col lg:items-start sm:items-center lg:justify-evenly lg:py-10 lg:mx-[100px] md:mx-[40px] sm:mx-6"
      >
        <div class="flex flex-col gap-10 lg:py-4">
          <Image
            src={MarkinDetroit}
            alt="image"
            width="400"
            class="rounded-2xl hover:scale-[1.1] ease-in-out transition-all duration-[600ms]"
          />
          <Image
            src={MarkinAirforce}
            alt="image"
            width="400"
            class="rounded-2xl hover:scale-[1.1] ease-in-out transition-all duration-[600ms]"
          />
          <Image
            src={MarkinSheriff}
            alt="image"
            width="400"
            class="rounded-2xl hover:scale-[1.1] ease-in-out transition-all duration-[600ms]"
          />
        </div>
        <div
          class="lg:text-xl md:text-base lg:max-w-[40%] md:max-w-[80%] sm:max-w-[100%] text-justify space-y-5 lg:py-2 sm:py-10 md:py-20"
        >
          <ForLeadersText />
        </div>
      </div>
    </section>
    <h2
      class="lg:text-3xl md:text-2xl sm:text-2xl font-[Poppins] sm:text-center lg:pt-20 lg:pb-10 font-black sm:py-20"
      id="for-journalists"
    >
      FOR JOURNALISTS
    </h2>
    <section class="lg:container lg:mx-auto">
      <div
        class="flex lg:flex-row-reverse md:flex-col sm:flex-col lg:items-start sm:items-center lg:justify-evenly lg:py-10"
      >
        <div
          class="flex flex-col gap-10 lg:py-2 lg:mx-[0px] lg:mr-[30px] md:mx-[40px] sm:mx-6 justify-end"
        >
          <Image
            src={MarkTeaching1}
            alt="image"
            width="400"
            class="rounded-2xl hover:scale-[1.1] ease-in-out transition-all duration-[600ms]"
          />
          <Image
            src={MarkTeaching2}
            alt="image"
            width="400"
            class="rounded-2xl hover:scale-[1.1] ease-in-out transition-all duration-[600ms]"
          />
          <Image
            src={MarkTeaching3}
            alt="image"
            width="400"
            class="rounded-2xl hover:scale-[1.1] ease-in-out transition-all duration-[600ms]"
          />
        </div>
        <div
          class="lg:text-xl md:text-base lg:max-w-[40%] md:max-w-[80%] sm:max-w-[100%] text-justify lg:py-0 space-y-5 sm:py-10 md:py-20 lg:mx-[100px] md:mx-[40px] sm:mx-6"
        >
          <ForJournalistText />
        </div>
      </div>
      <div class="lg:container lg:mx-auto lg:py-20 md:pt-0 sm:pt-0">
        <div
          class="flex flex-row justify-between lg:mx-[100px] md:mx-[40px] sm:mx-6"
        >
          <div class="lg:max-w-[15%] sm:w-[20%]">
            <a href="https://www.ire.org/">
              <Image
                src={Logo1}
                alt="image"
                class="w-full h-full object-contain"
              />
            </a>
          </div>
          <div class="lg:max-w-[15%] sm:w-[20%]">
            <a href="https://www.icfj.org/">
              <Image
                src={Logo2}
                alt="image"
                class="w-full h-full object-contain"
              />
            </a>
          </div>
          <div class="lg:max-w-[15%] sm:w-[20%]">
            <a href="https://english.vtv.vn/">
              <Image
                src={Logo3}
                alt="image"
                class="w-full h-full object-contain"
              />
            </a>
          </div>
          <div class="lg:max-w-[15%] sm:w-[20%]">
            <a href="https://www.northwestern.edu/">
              <Image
                src={University}
                alt="image"
                class="w-full h-full object-contain"
              />
            </a>
          </div>
        </div>
      </div>
    </section>

    <div class="lg:container lg:mx-auto py-10 flex md:justify-center">
      <div class="lg:mx-[100px] md:mx-[40px] sm:mx-6">
        <p class="lg:text-xl sm:text-base">
          Contact us to schedule an introductory consultation: <br />
          <span
            class="lg:text-xl sm:text-sm font-semibold font-[Poppins] text-blue"
            ><a href="mailto:contact@mediaadvisoryexperts.com"
              >contact@mediaadvisoryexperts.com</a
            >
          </span>
        </p>
      </div>
    </div>
  </HTML>
</Fragment>
