---
import { BackGroundImage, Image, HTML } from "@utils/Components";
import {
  Consultingpagebanner,
  MediaTraining,
  CrisisCommunications,
  Industry,
  MultiMedia,
  ConsultingHeading,
  EarnedMedia,
  CrisisCommunication,
  NewIndustryInsight,
  MultiMediaText,
} from "@utils/images";
---

<Fragment>
  <HTML>
    <BackGroundImage
      imageSource={Consultingpagebanner}
      heading1="STRATEGIC"
      text="CONSULTING"
    />
    <section>
      <div class="lg:container lg:mx-auto sm:px-5 mx-auto space-y-5 mb-5">
        <div class="lg:pt-12 md:pt-14 sm:pt-14 lg:py-6 lg:mx-[100px]">
          <div
            class="flex md:flex-col-reverse sm:flex-col-reverse sm:items-center lg:justify-evenly"
          >
            <div
              class="lg:text-xl sm:text-base lg:max-w-5/6 md:max-w-full text-left space-y-5"
            >
              <ConsultingHeading />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="border-y-[0.1px] border-lightgray">
      <div class="lg:container lg:mx-auto sm:px-5 mx-auto space-y-5 mb-5">
        <div class="lg:py-12 sm:py-0 sm:space-y-5 lg:mx-[100px]">
          <h2
            class="lg:text-3xl md:text-3xl sm:text-2xl sm:pt-10 md:py-10 font-semibold font-[Poppins] text-center lg:pb-8 lg:pt-0"
          >
            EARNED MEDIA
          </h2>
          <div class="grid lg:grid-cols-11 lg:space-y-0 sm:space-y-4">
            <div class="col-span-5" id="crisis">
              <Image src={MediaTraining} alt="image" class="rounded-lg" />
            </div>
            <div class="col-span-1"></div>
            <div
              class="lg:text-xl col-span-5 md:max-w-full sm:max-w-[100%] lg:text-left space-y-5"
            >
              <EarnedMedia />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="border-b-[0.1px] border-lightgray">
      <div class="lg:container lg:mx-auto sm:px-5 mx-auto space-y-5 mb-5">
        <div class="lg:py-12 md:py-0 sm:pb-10 sm:pt-0 space-y-5 lg:mx-[100px]">
          <h2
            class="lg:text-3xl md:text-3xl sm:text-2xl sm:pt-10 md:py-10 font-semibold font-[Poppins] text-center lg:pb-8 lg:pt-0"
          >
            CRISIS COMMUNICATIONS
          </h2>
          <div class="grid lg:grid-cols-11 lg:space-y-0 sm:space-y-4">
            <div class="lg:text-xl col-span-5 md:max-w-full text-left">
              <CrisisCommunication />
            </div>
            <div class="col-span-1"></div>
            <div class="col-span-5" id="new-industry">
              <Image
                src={CrisisCommunications}
                alt="image"
                class="rounded-lg"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="border-b-[0.1px] border-lightgray">
      <div class="lg:container lg:mx-auto sm:px-5 mx-auto space-y-5 mb-5">
        <div class="lg:py-12 space-y-5 lg:mx-[100px]">
          <h2
            class="lg:text-3xl md:text-3xl sm:text-2xl sm:pt-10 md:py-8 font-semibold font-[Poppins] text-center lg:pb-8 lg:pt-0"
          >
            NEWS INDUSTRY INSIGHT
          </h2>
          <div class="grid lg:grid-cols-11 lg:space-y-0 sm:space-y-4">
            <div class="col-span-5" id="multi-media">
              <Image src={Industry} alt="image" class="rounded-lg" />
            </div>
            <div class="col-span-1"></div>
            <div class="lg:text-xl col-span-5 md:max-w-full text-left">
              <NewIndustryInsight />
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="lg:container lg:mx-auto sm:px-5 mx-auto space-y-5 mb-5">
      <section class="lg:pt-12 lg:pb-10 space-y-5 lg:mx-[100px]">
        <h2
          class="lg:text-3xl md:text-3xl sm:text-2xl sm:pt-10 md:py-8 font-semibold font-[Poppins] text-center lg:pb-8 lg:pt-0"
        >
          MULTI-MEDIA
        </h2>
        <div class="grid lg:grid-cols-11 lg:space-y-0 sm:space-y-4">
          <div class="lg:text-xl col-span-5 md:max-w-full text-left">
            <MultiMediaText />
          </div>
          <div class="col-span-1"></div>

          <div class="col-span-5">
            <Image src={MultiMedia} alt="image" class="rounded-lg" />
          </div>
        </div>
        <!-- <div class="lg:pt-20 lg:px-[100px] text-center">
          <p class="text-2xl font-semibold">
            Contact us today: <br />
            <span class="lg:text-xl sm:text-sm font-[Poppins] text-blue"
              ><a href="mailto:contact@mediaadvisoryexperts.com"
                >contact@mediaadvisoryexperts.com</a
              >
            </span>
          </p>
        </div> -->
      </section>
    </div>
  </HTML>
</Fragment>
