---
import { BackGroundImage, Image, HTML } from "@utils/Components";
import {
  Consultingpagebanner,
  MediaTraining,
  CrisisCommunications,
  Industry,
  MultiMedia,
  ConsultingHeading,
  EarnedMedia,
  CrisisCommunication,
  NewIndustryInsight,
  MultiMediaText,
} from "@utils/images";
---

<Fragment>
  <HTML>
    <BackGroundImage
      imageSource={Consultingpagebanner}
      heading1="STRATEGIC"
      text="CONSULTING"
    />
    <div class="lg:container lg:mx-auto sm:px-5 mx-auto space-y-5 mb-5">
      <section
        class="lg:pt-20 md:py-10 sm:pt-20 lg:py-6 lg:mx-[100px] md:mx-[40px]"
      >
        <div
          class="flex md:flex-col-reverse sm:flex-col-reverse sm:items-center lg:justify-evenly"
        >
          <div
            class="lg:text-xl sm:text-base lg:max-w-5/6 md:max-w-full text-justify space-y-5"
          >
            <ConsultingHeading />
          </div>
        </div>
      </section>

      <section class="lg:py-6 sm:py-0 sm:space-y-5">
        <h2
          class="lg:text-3xl md:text-3xl sm:text-2xl sm:pt-10 md:pt-0 font-semibold font-[Poppins] text-center lg:py-5"
        >
          EARNED MEDIA
        </h2>
        <div
          class="lg:flex lg:items-start lg:flex-row-reverse md:block sm:block lg:justify-evenly lg:space-x-14 lg:space-y-0 sm:space-y-10"
        >
          <div
            class="lg:text-xl lg:max-w-[40%] md:max-w-full sm:max-w-[100%] lg:text-justify text-justify space-y-5"
          >
            <EarnedMedia />
          </div>
          <div class="lg:max-w-[25rem]" id="crisis">
            <Image src={MediaTraining} alt="image" class="rounded-lg" />
          </div>
        </div>
      </section>

      <section class="lg:py-6 sm:py-10 space-y-5">
        <h2
          class="lg:text-3xl md:text-3xl sm:text-2xl sm:pt-10 md:pt-0 font-semibold font-[Poppins] text-center lg:py-5"
        >
          CRISIS COMMUNICATIONS
        </h2>
        <div
          class="lg:flex lg:items-start md:block sm:block lg:justify-evenly space-y-5"
        >
          <div class="lg:text-xl lg:max-w-[40%] md:max-w-full text-justify">
            <CrisisCommunication />
          </div>
          <div class="lg:max-w-[25rem]" id="new-industry">
            <Image src={CrisisCommunications} alt="image" class="rounded-lg" />
          </div>
        </div>
      </section>

      <section class="lg:py-6 space-y-5">
        <h2
          class="lg:text-3xl md:text-3xl sm:text-2xl sm:pt-10 md:pt-0 font-semibold font-[Poppins] text-center lg:py-5"
        >
          NEWS INDUSTRY INSIGHT
        </h2>
        <div
          class="lg:flex lg:items-start lg:flex-row-reverse md:block sm:block lg:justify-evenly space-y-5"
        >
          <div class="lg:text-xl lg:max-w-[40%] md:max-w-full text-justify">
            <NewIndustryInsight />
          </div>
          <div class="lg:max-w-[25rem]" id="multi-media">
            <Image src={Industry} alt="image" class="rounded-lg" />
          </div>
        </div>
      </section>

      <section class="lg:pt-10 lg:pb-10 container mx-auto space-y-5">
        <h2
          class="lg:text-3xl md:text-3xl sm:text-2xl sm:pt-10 md:pt-0 font-semibold font-[Poppins] text-center lg:py-5"
        >
          MULTI-MEDIA
        </h2>
        <div
          class="lg:flex lg:items-start md:block sm:block lg:justify-evenly space-y-5"
        >
          <div class="lg:text-xl lg:max-w-[40%] md:max-w-full text-justify">
            <MultiMediaText />
          </div>
          <div class="lg:max-w-[25rem]">
            <Image src={MultiMedia} alt="image" class="rounded-lg" />
          </div>
        </div>
        <div class="lg:pt-20 lg:px-[100px] text-center">
          <p class="text-2xl font-semibold">
            Contact us today: <br />
            <span class="lg:text-xl sm:text-sm font-[Poppins] text-blue"
              ><a href="mailto:contact@mediaadvisoryexperts.com"
                >contact@mediaadvisoryexperts.com</a
              >
            </span>
          </p>
        </div>
      </section>
    </div>
  </HTML>
</Fragment>
