---
import { Image, Icon } from "@utils/Components";
import { MainLogo } from "@utils/images";
import Accordion from "../CustomNavbar/Accordian/accordion";
import "../CustomNavbar/Accordian/accordion.css";
import Jsontext from "../../layouts/Heading/heading.json";
---

<Fragment>
  <nav
    class="flex h-[70px] items-center lg:justify-between md:justify-between sm:justify-between lg:px-2 md:px-5 sm:px-4 dark-mode:text-gray-200 py-4 dark-mode:bg-gray-600 bg-white text-gray-500 sticky top-0 z-50 shadow-lg bg-opacity-95"
  >
    <input type="checkbox" id="check" class="hidden peer" checked />
    <label
      for="check"
      class="lg:hidden md:block sm:block text-4xl cursor-pointer"
    >
      <Icon client:only />
    </label>
    <a href="/" class="block">
      <div class="flex flex-row items-center space-x-1 pl-4 pr-0">
        <Image
          src={MainLogo}
          alt="logo"
          height="20"
          width="120"
          class="max-w-[70px]"
        />
        <h2
          class="xl:text-[16px] lg:text-[15px] sm:text-[0.93rem] font-[Poppins] font-semibold"
        >
          {Jsontext.mainlogotext.whitetext}
          <span class="text-blue"> {Jsontext.mainlogotext.bluetext}</span>
        </h2>
      </div>
    </a>
    <ul
      class="lg:flex lg:items-center md:hidden sm:hidden xl:text-[16px] lg:text-[13px]
            font-[Poppins] xl:space-x-0 lg:space-x-0"
    >
      <li class="lg:border-none md:border-b-[1px]">
        <a
          class="px-2 font-semibold hover:border-blue hover:text-blue md:mt-0 hover:text-gray-900 focus:text-gray-900 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
          href="/About">{Jsontext.header.abouttext}</a
        >
      </li>
      <li
        class="lg:border-none md:border-b-[1px] md:border-[#cdc6c6] lg:py-0 md:py-4 sm:py-4 sm:border-b-[1px] sm:border-[#cdc6c6]"
      >
        <div class="relative">
          <button class="peer px-2 md:px-0 lg:py-2 lg:text-black md:text-black">
            <a
              class="px-2 md:px-4 sm:px-4 py-2 mt-2 font-semibold text-gray-900 rounded-lg hover:border-blue hover:text-blue dark-mode:bg-gray-700 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
              href="/Strategic_consulting"
              >{Jsontext.header.Strategictext.STRATEGICCONSULTING}</a
            ></button
          >
          <div
            class="absolute hidden peer-hover:flex hover:flex xl:mx-4
                   xl:w-[220px] lg:w-[160px]
                   flex-col bg-white drop-shadow-lg text-black z-10 text-[14px]"
          >
            <a
              class="px-5 py-3 hover:text-blue"
              href="/Strategic_consulting#Earned"
              >{Jsontext.header.Strategictext.earnedmediatext}</a
            >
            <a
              class="px-5 py-3 hover:text-blue"
              href="/Strategic_consulting#crisis"
              >{Jsontext.header.Strategictext.crisiscommunication}</a
            >
            <a
              class="px-5 py-3 hover:text-blue"
              href="/Strategic_consulting#new-industry"
              >{Jsontext.header.Strategictext.NEWSINDUSTRY}</a
            >
            <a
              class="px-5 py-3 hover:text-blue"
              href="/Strategic_consulting#multi-media"
              >{Jsontext.header.Strategictext.MULTIMEDIA}</a
            >
          </div>
        </div>
      </li>

      <li
        class="lg:border-none md:border-b-[1px] md:border-[#cdc6c6] lg:py-0 md:py-4 sm:py-4 sm:border-b-[1px] sm:border-[#cdc6c6]"
      >
        <div class="relative">
          <button class="peer px-2 md:px-0 lg:py-2 lg:text-black md:text-black">
            <a
              class="px-2 md:px-4 sm:px-4 py-2 mt-2 font-semibold text-gray-900 rounded-lg hover:border-blue hover:text-blue dark-mode:bg-gray-700 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
              href="/Media_training"
              >{Jsontext.header.MEDIATRAININGTEXT.MEDIATRAINING}</a
            >
          </button>
          <div
            class="absolute hidden peer-hover:flex hover:flex lg:mx-7
                     w-[180px]
                     flex-col bg-white drop-shadow-lg text-black z-10 text-[14px]"
          >
            <a
              class="px-5 py-3 hover:text-blue"
              href="/Media_training/#for-leaders"
              >{Jsontext.header.MEDIATRAININGTEXT.FORLEADERTEXT}</a
            >
            <a
              class="px-5 py-3 hover:text-blue"
              href="/Media_training/#for-journalists"
              >{Jsontext.header.MEDIATRAININGTEXT.FORJOURNALIST}</a
            >
          </div>
        </div>
      </li>

      <li
        class="lg:border-none md:border-b-[1px] lg:py-0 md:py-4 sm:py-4 md:border-[#cdc6c6] sm:border-b-[1px] sm:border-[#cdc6c6]"
      >
        <div class="relative">
          <button class="peer px-2 lg:py-2 lg:text-black md:text-black">
            <a
              class="px-2 mt-2 font-semibold text-gray-900 rounded-lg hover:border-blue hover:text-blue dark-mode:bg-gray-700 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
              href="/Video_production"
              >{Jsontext.header.VIDEOPRODUCTIONTEXT.VIDEOPRODUCTIONTEXT}</a
            ></button
          >
          <div
            class="absolute hidden peer-hover:flex hover:flex
                   xl:w-[180px] lg:w-[150px]
                   flex-col bg-white drop-shadow-lg text-black z-10 text-[14px]"
          >
            <a
              class="py-3 px-5 hover:text-blue"
              href="/Video_production#CORPORATE"
              >{Jsontext.header.VIDEOPRODUCTIONTEXT.CORPORATETEXT}</a
            >
            <a class="py-3 px-5 hover:text-blue" href="/Video_production#Legal"
              >{Jsontext.header.VIDEOPRODUCTIONTEXT.LEGALTEXT}</a
            >
          </div>
        </div>
      </li>
      <li
        class="lg:border-none md:border-b-[1px] md:border-[#cdc6c6] lg:py-0 md:py-4 sm:py-4 sm:border-b-[1px] sm:border-[#cdc6c6]"
      >
        <div class="relative">
          <button class="peer lg:py-2 lg:text-black md:text-black"
            ><a
              class="xl:px-4 lg:pr-2 mt-2 font-semibold text-gray-900 rounded-lg hover:border-blue hover:text-blue dark-mode:bg-gray-700 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
              href="/Contact">{Jsontext.header.CONTACTUS.CONTACTTEXT}</a
            ></button
          >
          <div
            class="absolute hidden peer-hover:flex hover:flex mx-[-15px]
                     xl:w-[150px] lg:w-[140px]
                     flex-col bg-white drop-shadow-lg text-black z-10 text-[14px]"
          >
            <a class="px-5 py-3 hover:text-blue" href="/Contact/#Consultation"
              >{Jsontext.header.CONTACTUS.CONSULTATIONTEXT}</a
            >
            <a class="px-5 py-3 hover:text-blue" href="/Contact/#send-message"
              >{Jsontext.header.CONTACTUS.SENDMESSAGE}</a
            >
          </div>
        </div>
      </li>
    </ul>

    <!-- Accordian -->

    <div
      class="md:block md:peer-checked:left-[-100%] md:fixed md:left-0 md:transition-all md:duration-[900ms] md:top-[70px] md:h-[100vh] md:bg-[#fffffff2] w-full md:py-0 md:space-y-10 sm:block sm:peer-checked:left-[-100%] sm:fixed sm:left-0 sm:transition-all sm:duration-[900ms] sm:top-[70px] sm:h-[100vh] sm:bg-[#fffffff2] sm:py-0 sm:space-y-10"
    >
      <div class="accordion-container">
        <a href="/About"
          ><div
            class="border-t-[0.1px] border-lightgray hover:text-blue font-medium text-[16px] text-black py-[10px] px-[32px]"
          >
            {Jsontext.header.abouttext}
          </div></a
        >
        <div class="ac">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger hover:text-blue">
              {Jsontext.header.Strategictext.STRATEGICCONSULTING}</button
            >
          </h2>
          <div class="ac-panel">
            <a href="/Strategic_consulting/#Earned" id="HandleCheck5">
              <p
                class="ac-text hover:text-blue border-y-[0.1px] border-lightgray"
              >
                {Jsontext.header.Strategictext.earnedmediatext}
              </p></a
            >
            <a href="/Strategic_consulting#crisis" id="HandleCheck6">
              <p class="ac-text hover:text-blue">
                {Jsontext.header.Strategictext.crisiscommunication}
              </p></a
            >
            <a href="/Strategic_consulting/#new-industry" id="HandleCheck7">
              <p
                class="ac-text hover:text-blue border-y-[0.1px] border-lightgray"
              >
                {Jsontext.header.Strategictext.NEWSINDUSTRY}
              </p></a
            >
            <a href="/Strategic_consulting#multi-media" id="HandleCheck8">
              <p class="ac-text hover:text-blue">
                {Jsontext.header.Strategictext.MULTIMEDIA}
              </p></a
            >
          </div>
        </div>
        <div class="ac">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger hover:text-blue">
              {Jsontext.header.MEDIATRAININGTEXT.MEDIATRAINING}</button
            >
          </h2>
          <div class="ac-panel">
            <a href="/Media_training#for-leaders" id="HandleCheck3"
              ><p
                class="ac-text hover:text-blue border-y-[0.1px] border-lightgray"
              >
                {Jsontext.header.MEDIATRAININGTEXT.FORLEADERTEXT}
              </p></a
            >
            <a href="/Media_training/#for-journalists" id="HandleCheck4">
              <p class="ac-text hover:text-blue">
                {Jsontext.header.MEDIATRAININGTEXT.FORJOURNALIST}
              </p></a
            >
          </div>
        </div>
        <div class="ac">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger hover:text-blue">
              {Jsontext.header.VIDEOPRODUCTIONTEXT.VIDEOPRODUCTIONTEXT}</button
            >
          </h2>
          <div class="ac-panel">
            <a href="/Video_production#CORPORATE" id="HandleCheck">
              <p
                class="ac-text hover:text-blue cursor-pointer border-y-[0.1px] border-lightgray"
              >
                {Jsontext.header.VIDEOPRODUCTIONTEXT.CORPORATETEXT}
              </p></a
            >
            <a href="/Video_production/#Legal" id="HandleCheck2">
              <p class="ac-text hover:text-blue">
                {Jsontext.header.VIDEOPRODUCTIONTEXT.LEGALTEXT}
              </p></a
            >
          </div>
        </div>

        <div class="ac">
          <h2 class="ac-header border-b-[0.1px] border-lightgray">
            <button type="button" class="ac-trigger hover:text-blue"
              >{Jsontext.header.CONTACTUS.CONTACTTEXT}</button
            >
          </h2>
          <div class="ac-panel">
            <a href="/Contact#free-consultation" id="HandleCheck10">
              <p
                class="ac-text hover:text-blue border-y-[0.1px] border-lightgray"
              >
                {Jsontext.header.CONTACTUS.CONSULTATIONTEXT}
              </p></a
            >
            <a href="/Contact/#send-message" id="HandleCheck9">
              <p class="ac-text hover:text-blue">
                {Jsontext.header.CONTACTUS.SENDMESSAGE}
              </p></a
            >
          </div>
        </div>
      </div>
      <script>
        let input = document.getElementById("check") as HTMLInputElement;
        const Handle = document.getElementById("HandleCheck");
        Handle.addEventListener("click", () => {
          input.checked = true;
        });
        const Handle2 = document.getElementById("HandleCheck2");
        Handle2.addEventListener("click", () => {
          input.checked = true;
        });
        const Handle3 = document.getElementById("HandleCheck3");
        Handle3.addEventListener("click", () => {
          input.checked = true;
        });
        const Handle4 = document.getElementById("HandleCheck4");
        Handle4.addEventListener("click", () => {
          input.checked = true;
        });
        const Handle5 = document.getElementById("HandleCheck5");
        Handle5.addEventListener("click", () => {
          input.checked = true;
        });
        const Handle6 = document.getElementById("HandleCheck6");
        Handle6.addEventListener("click", () => {
          input.checked = true;
        });
        const Handle7 = document.getElementById("HandleCheck7");
        Handle7.addEventListener("click", () => {
          input.checked = true;
        });
        const Handle8 = document.getElementById("HandleCheck8");
        Handle8.addEventListener("click", () => {
          input.checked = true;
        });
        const Handle9 = document.getElementById("HandleCheck9");
        Handle9.addEventListener("click", () => {
          input.checked = true;
        });
        const Handle10 = document.getElementById("HandleCheck10");
        Handle10.addEventListener("click", () => {
          input.checked = true;
        });
        new Accordion(".accordion-container", { duration: 400 });
      </script>
      <!-- <Accordian /> -->
    </div>
  </nav>
</Fragment>
