---
import Movie from "../../components/Movie";
import { Image } from "astro:assets";
import VideoProduction from "../../assets/Camera.jpg";
import MediaTraning from "../../assets/MediaTraning.jpg";
import Consulting from "../../assets/Consulting.jpg";
import ContactImage from "../../assets/Contact.jpg";
import Team from "./Team";
const imagestyle = "w-full h-[250px]";
---

<Fragment>
        <Movie />
        <section class="py-12">
                <div class="flex justify-center items-center text-3xl">
                        <h2>
                                Our <span
                                        class="text-blue border-blue border-b-[1px]"
                                        >Services</span
                                >
                        </h2>
                </div>
                
                <div
                        class="flex flex-wrap justify-evenly py-16 sm:space-y-16 lg:space-y-0"
                >
                        <div
                                class="max-w-sm rounded overflow-hidden shadow-xl cursor-pointer hover:text-blue hover:scale-[1.1] ease-in-out transition-all duration-[600ms]"
                        >
                                <Image
                                        src={Consulting}
                                        alt="showcase"
                                        class:list={imagestyle}
                                />
                                <div
                                        class="flex justify-center text-xl font-semibold py-2"
                                >
                                        <h2>STRATEGIC CONSULTING</h2>
                                </div>
                        </div>

                        <div
                                class="max-w-sm rounded overflow-hidden shadow-xl cursor-pointer hover:text-blue hover:scale-[1.1] ease-in-out transition-all duration-[600ms]"
                        >
                                <Image
                                        src={MediaTraning}
                                        alt="showcase"
                                        class:list={imagestyle}
                                />
                                <div
                                        class="flex justify-center text-xl font-semibold py-2"
                                >
                                        <h2>MEDIA TRAINING</h2>
                                </div>
                        </div>
                        <div
                                class="max-w-sm rounded overflow-hidden shadow-xl cursor-pointer hover:text-blue hover:scale-[1.1] ease-in-out transition-all duration-[600ms]"
                        >
                                <Image
                                        src={VideoProduction}
                                        alt="showcase"
                                        class:list={imagestyle}
                                />
                                <div
                                        class="flex justify-center text-xl font-semibold py-2"
                                >
                                        <h2>VIDEO PRODUCTION</h2>
                                </div>
                        </div>
                </div>
        </section>

        <!-- <Team client:load /> -->
</Fragment>
