---
import Movie from "../../components/Movie/Movie.jsx";
import { Image } from "astro:assets";
import VideoProduction from "../../assets/CorporateVideos3.jpg";
import MediaTraning from "../../assets/MediaTraning.jpg";
import Consulting from "../../assets/Consulting.jpg";
import ServicesBoxes from "@components/ServicesBoxes.astro";
import Testinomials from "../../components/Testimonials/Testimonials.astro";
import HTML from "../../layouts/HTML/HTML.astro";
import FormContact from "../../pages/Contact/FormContact";
import SpeakingEngagements from "../../assets/SpeakingEngagements.jpeg";

const imagestyle =
  "w-full object-cover lg:h-[250px] md:h-[200px] md:w-full sm:h-[200px] sm:w-full";
---

<HTML>
  <Movie />
  <section class="lg:pt-20 md:py-10 sm:pt-0 sm:pb-10">
    <div class="lg:container lg:mx-auto lg:pt-0 sm:py-20 sm:space-y-4">
      <p
        class="lg:text-xl md:text-base lg:mx-[100px] md:mx-[40px] sm:mx-6 text-justify"
      >
        <span class="font-[Poppins] font-bold"> Media Advisory Experts</span> is
        an innovative media advisory company offering strategic communications,
        network television-level video production and targeted media and
        journalism training to corporate, government and individual clients
        across the United States and internationally
      </p>
    </div>
    <div
      class="flex justify-center items-center lg:text-3xl md:text-2xl sm:text-2xl font-bold lg:pb-0 sm:pb-10"
    >
      <h2 class="font-[Poppins] lg:text-4xl sm:text-3xl">Our Services</h2>
    </div>

    <div
      class="flex lg:flex-row sm:px-[24px] lg:justify-evenly md:flex-col md:justify-center md:items-center sm:items-center sm:flex-col md:space-y-12 lg:py-20 md:py-10 sm:py-8 sm:space-y-16 lg:space-y-0"
    >
      <ServicesBoxes
        imageSource={Consulting}
        imagestyle={imagestyle}
        text="STRATEGIC CONSULTING"
        link="/Strategic_consulting"
      />

      <ServicesBoxes
        imageSource={MediaTraning}
        imagestyle={imagestyle}
        text="MEDIA TRAINING"
        link="/Media_training"
      />

      <ServicesBoxes
        imageSource={VideoProduction}
        imagestyle={imagestyle}
        text="VIDEO PRODUCTION"
        link="/Video_production"
      />
    </div>
  </section>

  <Testinomials />
  <div
    class="lg:container lg:mx-auto md:mx-10 sm:mx-3 lg:py-20 sm:py-0 sm:pb-20"
  >
    <div
      class="lg:mx-[50px] flex lg:flex-row md:flex-col sm:flex-col justify-center"
    >
      <div
        class="h-auto lg:w-[50%] md:w-full sm:w-full lg:py-20 md:py-10 sm:py-5 space-y-9 lg:px-20 md:px-6 sm:px-4 lg:border-r-[1px] border-lightgray"
      >
        <h2
          class="text-center text-2xl lg:pb-10 sm:pt-14 sm:pb-6 font-[Poppins] font-semibold"
        >
          SPEAKING ENGAGEMENTS
        </h2>
        <Image src={SpeakingEngagements} alt="image" />
        <p class="lg:text-xl md:text-base text-justify">
          <span class="font-[Poppins] font-bold"> Media Advisory Experts</span>
           founder Mark Albert is available for speaking engagements. He’s given
          tailored remarks on current events, media industry analysis, and
          insightful travel tips gleaned from visiting 83 countries to
          government leaders, private companie s, and while emceeing community
          events.
        </p>
      </div>

      <div
        class="h-auto lg:w-[50%] md:w-full sm:w-full lg:py-20 md:py-10 sm:py-5 space-y-9 lg:px-6 md:px-4 sm:px-4"
      >
        <h2
          class="text-center lg:text-2xl md:text-2xl sm:text-2xl lg:pb-10 sm:pt-14 sm:pb-6 font-[Poppins] font-semibold"
        >
          SEND US A MESSAGE
        </h2>
        <FormContact client:visible />
      </div>
    </div>
  </div>
</HTML>
