---
import Card from "./components/Card.astro";
import "@splidejs/splide/css";
const { data } = Astro.props;
---

<section
  class="splide testimonial relative lg:w-full w-full"
  id="second-slider">
  <div class="splide__track overflow-hidden relative z-0 select-none">
    <ul class="splide__list flex h-full m-0 p-0">
      {
        data?.map((data) => {
          return <Card data={data} />;
        })
      }
    </ul>
  </div>
</section>

<script>
  import Splide from "@splidejs/splide";
  var btnClasses =
    "lg:text-6xl  sm:text-4xl sm:text-4xl absolute z-[1] cursor-pointer";
  const prebtn = "sm:left-[0px] lg:left-[-5px]	 sm:top-[50.5%] lg:top-[50%]";
  const nextbtn = "sm:right-[0px] lg:left-[px] sm:top-[50%]  lg:top-[51%]	";
  var splide = new Splide("#second-slider", {
    type: "loop",
    perPage: 1,
    perMove: 1,
    drag: false,
    autoplay: true,
    arrows: true,
    trimSpace: true,
    pagination: false,
    speed: 1200,
    rewind: true,
    autoScroll: {
      speed: 2,
    },
    arrowPath:
      "M4,20A16,16,0,1,0,20.1,4,16,16,0,0,0,4,20Zm14.9-7L25,19.1l.5.8c0,.6-.4.8-.6,1.1l-6.1,6c-.3.4-.7,1-1.4.4s.2-1.1.5-1.4,3.4-3.5,5.2-5.2.7-1,0-1.6L18,14c-.4-.3-1.1-.7-.6-1.4S18.5,12.6,18.9,13Z",
    classes: {
      prev: `${btnClasses} ${prebtn} left-4 top-[49.5%]  rotate-180`,
      next: `${btnClasses} ${nextbtn} right-4 bottom-50% `,
    },
    breakpoints: {
      760: {
        perPage: 1,
      },
      1350: {
        perPage: 1,
      },
    },
  });

  splide.mount();
</script>
