---
const { data } = Astro.props;
import "@splidejs/splide/css";
---

<section>
  <div id="slider" class="flex flex-row container mx-auto">
    {
      data?.map((data) => (
        <div class="max-w-[500px] px-16 py-16 space-y-3">
          <p>{data.Review}</p>
          <h2 class="text-xl font-[Poppins]">{data.Client}</h2>
          <p>{data.ClientOrganization}</p>
        </div>
      ))
    }
  </div>
</section>
<script>
  import Splide from "@splidejs/splide";

  var btnClasses =
    "fill-tw-on-background-1 sm:top-[40%] top-[40%] absolute z-[1] cursor-pointer";

  var splide = new Splide("#slider", {
    type: "loop",
    perPage: 3,
    perMove: 1,
    trimSpace: true,
    pagination: false,
    clones: 0,
    arrowPath:
      "M4,20A16,16,0,1,0,20.1,4,16,16,0,0,0,4,20Zm14.9-7L25,19.1l.5.8c0,.6-.4.8-.6,1.1l-6.1,6c-.3.4-.7,1-1.4.4s.2-1.1.5-1.4,3.4-3.5,5.2-5.2.7-1,0-1.6L18,14c-.4-.3-1.1-.7-.6-1.4S18.5,12.6,18.9,13Z",
    classes: {
      prev: `${btnClasses} sm:left-[-15px] left-[-40px] rotate-180`,
      next: `${btnClasses} sm:right-[-15px] right-[-40px]`,
    },
    breakpoints: {
      640: {
        perPage: 1,
      },
    },
  });

  splide.mount();
</script>
