---
import HTML from "../../layouts/HTML/HTML.astro";
import { Image } from "astro:assets";
import VideoProduction from "../../assets/VideoProduction.jpg";
import CorporateVideos1 from "../../assets/CorporateVideos1.jpg";
import CorporateVideos2 from "../../assets/CorporateVideos2.jpg";
import CorporateVideos3 from "../../assets/CorporateVideos3.jpg";
import SupremeCourt from "../../assets/SupremeCourt.jpg";
import BackGroundImage from "@components/BackGroundImage.astro";
import ImageSlider from "@components/ImageSlider.astro";
---

<Fragment>
  <HTML>
    <BackGroundImage imageSource={VideoProduction} text="VIDEO PRODUCTION" />

    <section class="lg:py-10 sm:py-0">
      <h2
        class="lg:text-3xl md:text-3xl sm:text-2xl sm:pt-10 md:pt-0 font-semibold font-[Poppins] text-center"
      >
        CORPORATE VIDEOS
      </h2>
      <div
        class="container mx-auto flex lg:flex-row-reverse md:flex-col-reverse sm:flex-col-reverse sm:items-center lg:justify-between"
      >
        <ImageSlider
          image1={CorporateVideos1}
          image2={CorporateVideos2}
          image3={CorporateVideos3}
          image4={CorporateVideos1}
          image5={CorporateVideos2}
          image6={CorporateVideos3}
        />
        <div
          class="font-[Roboto] text-lg lg:max-w-[40%] md:max-w-[80%] sm:max-w-[100%] lg:text-left md:text-center sm:text-left lg:py-20 sm:py-5 space-y-5 font-bold"
        >
          <h2 class="lg:text-3xl md:text-2xl sm:text-2xl font-[Poppins]"></h2>
          <p>
            <span class="font-[Poppins]"> Media Advisory Experts</span>
             can harness decades of experience across the United States to
            conceptualize, storyboard, shoot, edit and deliver professional
            videos for corporate clients of any size and budget, from small
            firms to Fortune 500 brands.
          </p>
           We can produce: <br />
          <ul class="list-disc">
            <li>Internal marketing, training, and inspirational videos</li>
            <li>
              Videos for an external audience, including proof-of-performance,
              customer messaging, and crisis response
            </li>
            <li>
              Videos to be utilized in investor communications and pitch decks
            </li>
            <li>Product announcements</li>
            <li>Digital video campaigns</li>
            <li>Aspirational videos</li>
          </ul>
          <p>
            Trust these critical business video needs to the experts at <span
              class="font-[Poppins]"
            >
              Media Advisory Experts</span
            >. <br /> Contact us today: <br />
            <span
              class="lg:text-xl sm:text-sm font-semibold font-[Raleway] text-blue"
              ><a href="mailto:contact@mediaadvisoryexperts.com"
                >contact@mediaadvisoryexperts.com</a
              >
            </span>
          </p>
          <i>
            Please indicate level of urgency in your initial message so that we
            may best meet your needs.
          </i>
        </div>
      </div>
    </section>

    <section
      class="container mx-auto lg:text-left md:text-center sm:text-center sm:py-10"
      id="Legal-Videos"
    >
      <h2
        class="lg:text-3xl md:text-3xl sm:text-2xl sm:pt-10 sm:pb-5 md:pt-0 font-semibold font-[Poppins] text-center"
      >
        LEGAL VIDEOS
      </h2>
      <div
        class="flex lg:flex-row lg:items-center md:flex-col sm:flex-col-reverse justify-between lg:py-[50px]"
      >
        <div
          class="font-[Roboto] text-lg lg:max-w-[40%] md:max-w-[80%] sm:max-w-[100%] lg:text-left md:text-center sm:text-left space-y-5 font-bold"
        >
          <!-- <h2 class="lg:text-3xl md:text-2xl sm:text-2xl font-[Poppins]">
            
          </h2> -->
          <p>
            <span class="font-[Poppins]"> Media Advisory Experts</span> can
            produce videos for early litigation or pre-filing purposes, case
            settlement, trials, and other steps of the legal process.
            Day-in-the-life videos and settlement documentaries can be powerful
            tools to accurately convey how clients, plaintiffs and defendants
            have been impacted by traumatic, life-changing events. Firm founder
            Mark Albert is a Peabody Award-winning former on-air CBS News
            network correspondent, who has covered cases before the U.S. Supreme
            Court and been honored with the Wade H. McCree ‘Award for Excellence
            in Legal Journalism and the Advancement of Justice’ from the State
            Bar of Michigan. He’s covered legal issues and frequently used
            PACER, CMF/ECF as a member of the media for more than 20 years. So
            Media Advisory EXperts knows the vast scope of cases where
            compelling, emotional storytelling videos can resonate for litigants
            across the legal landscape.
          </p>
          <p class="font-bold text-lg py-5">
            Contact us to schedule a free consultation: <span
              class="lg:text-xl sm:text-sm font-semibold font-[Raleway] text-blue"
              ><a href="mailto:contact@mediaadvisoryexperts.com"
                >contact@mediaadvisoryexperts.com</a
              >
            </span>
          </p>
          <i>
            Please indicate the status of your client’s case in your initial
            message so that we may best meet your needs on an expedited basis,
            if needed
          </i>
        </div>
        <div class="max-w-[50rem] sm:py-12">
          <Image src={SupremeCourt} alt="supreme-court" class="rounded-lg" />
        </div>
      </div>
    </section>
  </HTML>
</Fragment>
