---
import Moviebg from "../../assets/videoBg.mp4";
import "./global.css";
---

<Fragment>
  <div class="relative w-full lg:h-[60vh] md:h-[60vh] sm:h-[30vh]">
    <div class="absolute lg:h-[60vh] md:h-[60vh] sm:h-[30vh]">
      <video
        autoplay={true}
        loop={true}
        muted={true}
        playsinline={true}
        class="top-0 w-full h-full object-cover"
      >
        <source src={Moviebg} type="video/mp4" />
      </video>
    </div>
    <div
      class="absolute text-white font-base justify-end items-center lg:py-20 sm:py-6 w-full h-full flex flex-col lg:top-0 lg:left-0 lg:px-[100px] sm:px-[50px] max-w-[100%] lg:space-y-5 sm:space-y-2 bg-semiblack"
    >
      <p
        class="lg:text-5xl sm:text-2xl sm:text-center lg:pt-10 sm:pt-3 font-[Poppins] font-black duration-[10ms] animated fadeInDown"
      >
        Welcome to <br />
         MEDIA ADVISORY <span class="text-blue">EXPERTS</span>
      </p>
    </div>
  </div>
</Fragment>
